*/.DS_Store
**.**~**
*build/
*/out/
*__pycache__
**MTPs-Main-Container.txt**
**APDescription.txt**
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.dvi
*.lof
*.vscode
**.spyproject/workspace.ini/n*.spyproject
*.sublime-workspace
*.sublime-project

